/*all content style*/ 
* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(57, 34%, 95%);
    color:hsl(from 237, 65%, 100%);
    margin: 10px;
    line-height: 22px;
    text-wrap: pretty;
}

/*headers styles*/
h1,
h2,
h3,
h4 {
    color: hsl(237, 65%, 32%);
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

/*list item style*/
li {
    line-height: 16px;
    margin: 5px; 
   
}
.center {
    text-align: center;
}

.center img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/*class for list items on index page only to display as menu horizontally */
.menu li {
    display: inline-block;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 28px;
    font-weight: 600;
    width: 24%;

}

a {
    color:hsl(237, 65%, 42%);
    text-decoration: none;
}

li :hover {
    color: hsl(314, 65%, 52%);
    transition:450ms;
    font-size: 30px;
    margin-top: 0px;

}

:active {
    color: hsl(138, 65%, 52%);

}

li:last-of-type {
    margin-bottom: 40px;
}

/*paragraph style*/
p {
    width: 85%;
}

p:last-of-type {
    margin-bottom: 40px;
}

/*image style*/
img {
    width: auto;
    height: 300px;
}


